#overrides-bootstrap .navbar {
	height: 72px;
	width: 60%;
	margin: 0 auto;
	padding: 0 1rem;
	display: flex;
	align-items: center;
	flex-wrap: nowrap;
	box-sizing: content-box;
	line-height: 1.15 !important;
}

#overrides-bootstrap .navbar .logo {
	color: white;
	text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.534);
	font-family: 'Ubuntu';
	font-weight: 700;
	font-size: 3rem;
	text-align: center;
	margin-bottom: 0.5rem;
	cursor: default;
	text-decoration: none !important;
}

#overrides-bootstrap .navbar_items {
	width: 100%;
	display: flex;
	justify-content: space-between;
	font-weight: 300;
}

#overrides-bootstrap .navbar_items .items-l, #overrides-bootstrap .navbar_items .items-r
	{
	display: flex;
	list-style: none;
	size: 100%;
}

#overrides-bootstrap .navbar_items .items-l {
	padding-left: 0.7rem;
}

#overrides-bootstrap .navbar_items li {
	border-radius: 0.15rem;
	margin: 0 10px;
}

#overrides-bootstrap .navbar_items li a {
	color: white;
	opacity: .9;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.534);
	padding: .5rem .5rem;
	text-decoration: none;
	font-size: 14px;
	font-weight: normal;
	display: block;
}

#overrides-bootstrap .navbar_items .login {
	color: white;
	opacity: .9;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.534);
	padding: .5rem .5rem;
	text-decoration: none;
	font-size: 14px;
	font-weight: normal;
	display: block;
	cursor: pointer;
	border-radius: 0.15rem;
	margin: 0 10px;
}

#overrides-bootstrap .navbar .logo:hover {
	color: rgba(240, 248, 255, 0.8);
	transition: .2s;
}

#overrides-bootstrap .navbar_items li:hover {
	background-color: rgba(0, 0, 0, 0.3);
	transition: .2s;
}

#overrides-bootstrap .navbar_items .login:hover {
	background-color: rgba(0, 0, 0, 0.3);
	transition: .2s;
}

#overrides-bootstrap .header {
	position: fixed !important;
	top: 0;
	height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	z-index: -10;
}

#overrides-bootstrap .header .header-video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	overflow: hidden;
	z-index: -5;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#overrides-bootstrap .header-video video {
/* 	width: 100%; */
	margin-top: -50px;
	animation: appear 5s cubic-bezier(0, 0, 0, 0.99) forwards;
}

#overrides-bootstrap ul {
	margin-top: revert;
}

@keyframes appear { 
	0% {
		transform: scale(1, 1);
	}

	100% {
		transform:scale(1.05,1.05);
	}
}

@media screen and (max-width: 1030px) {
	#overrides-bootstrap .navbar {
	height: 72px;
	width: 80%;
	}
}

@media screen and (max-width: 858px) {
	#overrides-bootstrap .navbar {
	width: 100%;
	justify-content: center;
	}
	
	#overrides-bootstrap .navbar_items {
	width: 80%;
	}
}

#weather-div {
	display: flex;
	align-items: center;
	cursor: pointer;
 	background-color: rgb(150,180,228);
 	opacity: 0.9;
 	border-top-left-radius: 0;
 	border-bottom-left-radius: 0;
 	border-top-right-radius: 1rem;
 	border-bottom-right-radius: 1rem;
}

#weather-div > a > span{
	color: white;
	opacity: .9;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.534);
	text-decoration: none;
	font-size: 14px;
	font-weight: normal;
}

#weather-div > img{
	position:absolute;
	width: 2rem;
	margin-left: -2rem;
}

#overrides-bootstrap .navbar_items .items-r li:first-child:hover {
	background-color: rgba(0, 0, 0, 0);
}

