.navbar {
    /* background-color: blueviolet; */
    height: 72px;
    width: 60%;
    margin: 0 auto;
    padding: 0 1rem;
    display: flex;
    align-items: center;
}

.navbar .logo {
    color: white;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.534);
    font-family: 'Ubuntu';
    font-weight: 700;
    font-size: 3rem;
    text-align: center;
    margin-bottom: 0.5rem;
}

.navbar_items {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-weight: 300;
}

.navbar_items .items-l,
.navbar_items .items-r {
    display: flex;
    list-style: none;
    size: 100%;
}

.navbar_items .items-l {
    padding-left: 0.7rem;
}

/* cuando un usuario se logea, aparece after */
/*.items-r::after{
    content: '🎅';
    margin-left: 0.5rem;
    padding-right: .5rem;
    display: flex;
    align-items: center;
} 
*/

.navbar_items li {
    border-radius: 0.15rem;
    margin: 0 10px;
}

.navbar_items li a {
    color: white;
    opacity: .9;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.534);
    padding: .5rem .5rem;
    text-decoration: none;
    font-size: 14px;
    font-weight: normal;
    display: block;
}

.navbar_items .login {
    color: white;
    opacity: .9;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.534);
    padding: .5rem .5rem;
    text-decoration: none;
    font-size: 14px;
    font-weight: normal;
    display: block;
    cursor: pointer;
    border-radius: 0.15rem;
    margin: 0 10px;
}

.navbar .logo:hover {
    color: rgba(240, 248, 255, 0.8);
    transition: .2s;
}

.navbar_items li:hover {
    background-color: rgba(240, 248, 255, 0.3);
    transition: .2s;
}

.navbar_items .login:hover {
    background-color: rgba(240, 248, 255, 0.3);
    transition: .2s;
}

.header {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
}

.header .header-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: -5;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-video video {
    margin-top: -50px;
    animation: appear 5s cubic-bezier(0, 0, 0, 0.99) forwards;
}

@keyframes appear{
	0% {
		opacity: 0;
		transform: scale(1,1);
	}
	
	60% {
		opacity: 1;
	}
	
	100% {
		transform: scale(1.05,1.05);
	}
}

.header .background-gradient {
    background-color: rgb(240, 248, 255);
/*     margin-top: auto; */
    width: 100%;
    height: 100%;
    background: -webkit-linear-gradient(top, rgba(240, 248, 255, 0), rgba(240, 248, 255, 0) 30%, rgba(240, 248, 255, 0.8) 70%, rgba(240, 248, 255, 1) 90%);
}
